* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.header {
    background-color: #222;
    height: 50px;
    padding: 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header div img,
.header div a {
    margin-right: 25px;
}

.header div img:last-of-type {
    margin-right: 0;
}

.menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    z-index: 1000;
}

.menu:hover .menu_box {
    display: block;
}

.menu_box {
    border: solid black 2px;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px 0;
    width: 232px;
}

.menu_box h3 {
    padding-bottom: 20px;
    color: palevioletred;
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.menu_box li {
    list-style-type: none;
    padding: 0 30px 0 40px;
    z-index: 10000;
    line-height: 30px;
}

.menu_section ul li a {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6E6E;
    ;

}

.menu_box li:last-of-type {
    padding-bottom: 0;
}

.menu_box li:hover {
    background-color: palevioletred;
}

.menu_box li:hover a {
    color: #fff;
}

.menu_section {
    margin-bottom: 25px;
}

.menu_section:last-of-type {
    margin-bottom: 0;
}

.content {
    padding: 0 230px;
}


.item {
    height: 350px;
    width: 350px;
    border: 1px solid #000;
}

.conteiner {
    margin: 0 auto;
    width: 1200px;
}

.front_panel {
    background: url("./картинки/men.png") no-repeat;
    background-color: #F1E4E6;
    height: 600px;
    display: flex;
    align-items: center;
    padding-left: 53%;
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 60px;
}

.front_panel_text {
    border-left: solid palevioletred 12px;
    padding-left: 15px;
}

.red_text {
    color: palevioletred;
}

.promotion_panel {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.flex_break {
    flex-basis: 100%;
    height: 0;
}

.promotion_panel img {
    filter: brightness(50%);
    width: 100%;
}

.promotion_panel img:hover {
    filter: brightness(100%);
}

.promotion_item {
    position: relative;
    flex-grow: 1;
    margin-right: 20px;
}

.promotion_item:last-of-type {
    margin-top: 15px;
    margin-right: 0;
}

.promotion_item:last-of-type .promotion_text {
    position: absolute;
    right: 490px;
    top: 65px;
}

.promotion_item:nth-last-of-type(2) {
    margin-right: 0;
}

.promotion_text {
    position: absolute;
    top: 120px;
    right: 90px;
}

.promotion_text span {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: block;
}

.promotion_text h4 {
    color: #F16D7F;

}

.test {
    border: dashed gray 2px;
}

.product_panel-text {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 6px;
    width: 1200px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product_panel-text2 {
    text-align: center;
    width: 1200px;
    margin-bottom: 48px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

/* .product_panel {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
} */

.product_panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_panel-item {
    width: 360px;
    position: relative;

}

.product_panel-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}


.item-link {
    display: block;
    text-decoration: none;
    background: #F8F8F8;

}

.item-link-img {
    position: relative;
}

.item-desk {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-bottom: 15px;

}

.item-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.text-box {
    padding: 15px;
}

.item-pic {
    width: 100%;
}

.product_panel-item:hover .item-link-img {
    filter: brightness(50%);
}

.add-contaner {
    /* filter: brightness(100%) !important; */
}

.add {
    display: flex;
    position: absolute;
    top: 178px;
    left: 130px;
    padding: 8px;
    border: 1px solid #FFFFFF;
    align-items: center;
    text-decoration: none;
}

.add-desc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.button_product_panel {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 90px;
}

.button_product_panel button {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    color: #FFFFFF;

}

.footer {
    background-color: #cccc;
    height: 100px;
}