@charset "UTF-8";
* {
  font-family: 'Lato';
  font-size: 16px !important;
  box-sizing: border-box;
}

@media (min-width: 1400px) and (max-width: 2500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

.top-navigation h2 {
  color: #F16D7F;
  font-size: 20px !important;
}

.top-navigation a {
  text-decoration: none;
  color: inherit;
  font-size: 14px !important;
}

.nav-panel p {
  padding-right: 40px;
}

.nav-panel h2 {
  font-size: 14px !important;
  color: #F16D7F;
}

.filter_menu .filter_menu_box {
  box-shadow: 0 0 10px gray;
  z-index: 111;
  width: 220px;
  background-color: white;
  display: none;
}

.filter_menu .filter_menu_box li {
  margin-top: 4px;
  list-style-type: none;
  font-size: 14px;
  text-align: left;
  color: #6F6E6E;
}

.filter_menu .filter_menu_box li a {
  padding-left: 6px;
  text-decoration: none;
  color: #6F6E6E;
}

.filter_menu .filter_menu_box li.title a {
  border-left: 4px solid #F16D7F !important;
}

.filter_menu .filter_menu_box li.title.active a {
  color: #F16D7F !important;
}

.filter_menu:hover .filter_menu_box {
  display: block;
}

.filter_menu:hover li:hover {
  background-color: #F16D7F;
}

.filter_menu:hover li:hover a {
  color: #f5f0f1 !important;
}

.filter_menu:hover li:hover.title.active a {
  color: #f5f0f1 !important;
}

.size-menu-box {
  z-index: 1;
  background-color: #fff;
  width: 100px;
  padding: 15px;
  box-shadow: 0 0 10px gray;
  display: none;
  color: #6F6E6E;
}

.size-menu-box input {
  color: #f5f0f1;
  accent-color: #F16D7F !important;
  margin-right: 5px;
  box-shadow: none !important;
}

.size-menu:hover .size-menu-box {
  display: block;
}

.header {
  background-color: #222;
  height: 50px;
}

.header > div {
  height: inherit;
}

.primary_color {
  color: #F16D7F !important;
}

.breadcrumb-item {
  color: #636363;
}

.header div img,
.header div a {
  margin-right: 25px;
}

.header div img:last-of-type {
  margin-right: 0;
}

audio {
  height: 35px;
  width: 300px;
}

.menu {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  z-index: 1000;
}

.menu:hover .menu_box {
  display: block;
}

.menu_box {
  border: solid black 2px;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 20px 0;
  width: 232px;
}

.menu_box h3 {
  padding-bottom: 20px;
  color: palevioletred;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.menu_box li {
  list-style-type: none;
  padding: 0 30px 0 40px;
  z-index: 10000;
  line-height: 30px;
}

.menu_section ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6E6E;
}

.menu_box li:last-of-type {
  padding-bottom: 0;
}

.menu_box li:hover {
  background-color: palevioletred;
}

.menu_box li:hover a {
  color: #fff;
}

.menu_section {
  margin-bottom: 25px;
}

.menu_section:last-of-type {
  margin-bottom: 0;
}

.top-navigation {
  height: 130px;
  background-color: #F8F3F4;
  margin-bottom: 20px;
}

.cart-container .btn, .cart-container input {
  border-radius: 0;
  border-color: #dce0e3;
}

.cart-container .cart .cart__info__value, .cart-container .checkout-panel__value {
  margin-left: 5px;
}

.cart-container .row > * {
  padding-left: 0 !important;
}

.cart-container .cart {
  box-shadow: 10px 10px 10px #ccc;
  margin: 20px;
}

.cart-container .cart .cart__title-text {
  font-size: 24px !important;
}

.cart-container .cart p {
  margin: 0;
}

.cart-container .cart .cart__info__value {
  width: 40px;
}

.cart-container .cart .cart__info__value_red {
  color: #F16D7F;
}

.cart-container .checkout-panel {
  background: #F5F3F3;
}

.cart-container hr {
  color: #1f1a1a;
}

.cart-container .checkout-panel__value .checkout-panel__value_red {
  color: #F16D7F !important;
}

.footer1 {
  background-color: #222;
  color: #fff;
  box-sizing: border-box;
}

.footer1-content {
  display: flex;
  justify-content: space-around;
  padding: 103px 0;
}

.footer1-content_card {
  text-align: center;
}

.footer1-content_card p {
  margin-top: 28px;
}

.footer2 {
  background: url("картинки/footer/Layer 41.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
  box-shadow: inset 0px 0px 0px 256px rgba(255, 255, 255, 0.45);
}

.footer2-content {
  display: flex;
  justify-content: space-between;
}

.footer2-content_card {
  text-align: center;
  width: 460px;
  margin-top: 86px;
  margin-bottom: 126px;
}

.footer2-content_card p {
  font-size: 24px;
}

.footer2-content_card img {
  padding-bottom: 20px;
}

.footer2-content_card .button {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F16D7F;
  color: #F8F8F8;
  padding: 15px;
  border: 1px #F16D7F transparent;
  font-size: 14px;
}

.footer2-content_card .button:hover {
  background-color: #fff;
  color: #F16D7F;
  border: 1px solid #FF6A6A transparent;
}

.footer2-content_card form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.footer2-content_card input {
  border-style: none;
  background-color: #f5f0f1;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  outline: none;
  color: #000;
  box-sizing: border-box;
  font-size: 14px;
  width: 300px;
}

.footer2-content_card:nth-of-type(2) p {
  font-size: 18px;
}

.footer2-content_card:nth-of-type(2) h4 {
  font-size: 24px;
  margin-top: 50px;
}

.footer3 {
  background-color: #222;
}

.footer3 p {
  font-size: 16px;
  color: white;
}

.footer3_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.fa {
  font-size: 22px;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  line-height: 10px;
}

.fa:hover {
  background-color: #F16D7F;
  color: white;
}
